<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Street Braai Boerewors</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/temp/assets/img/favicon.png" rel="icon">
    <link href="~/temp/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/temp/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/temp/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/temp/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/temp/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/temp/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/temp/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/temp/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/temp/assets/css/style.css" rel="stylesheet" />
    <!-- =======================================================
    * Template Name: Restaurantly
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-center justify-content-md-between">

            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
                <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="index.html">Street Braai Boerewors</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
                    <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
                    <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
                   <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</a>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Welcome to <span>Street Braai Boerewors</span></h1>
                    <h2>Delivering great food for more than 2 years!</h2>

                    <div class="btns">
                        <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
                        <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=KL8n2RdacQQ" class="glightbox play-btn"></a>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="about-img">
                            <img src="assets/img/about.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Street Braai Boerewors</h3>
                        <p class="fst-italic">
                            Braai Boerewors is a delicious South African dish consisting of marinated beef or pork ribs cooked over an open flame or hot coals. It is a popular choice for braais and is often enjoyed with traditional South African side dishes.
                        </p>
               
                        <p>
                            Boerewors (pronounces BOO-ruh-VORS) is a South African fresh sausage that is perfect for the grill. The name means “farmer’s sausage” and comes from a combination of the Afrikaans words boer (‘farmer’) and wors (‘sausage’)
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Menu</h2>
                    <p>Check Our Tasty Menu</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-starters">Traditional Boerewors</li>
                            <li data-filter=".filter-salads">Spicy Boerewors</li>
                            <li data-filter=".filter-specialty">Cheese-filled Boerewors:</li>
                        </ul>
                    </div>
                </div>

                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                    <!-- ======= Filter active====== -->
                    <div class="col-lg-6 menu-item filter-active">
                        <img src="~/temp/assets/img/menu/beef-only-boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">Beef-only Boerewors</a><span>R55.95</span>
                        </div>
                        <div class="menu-ingredients">

                        </div>
                    </div>
                    <div class="col-lg-6 menu-item filter-active">
                        <img src="~/temp/assets/img/menu/smoked-beef boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">smoked-beef boerewors Boerewors</a><span>R87.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>
                    <div class="col-lg-6 menu-item filter-active">
                        <img src="~/temp/assets/img/menu/lean-beef-boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">cheese-filled</a><span>R94.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-active">
                        <img src="~/temp/assets/img/menu/spicy-beef boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">Spicy Boerewors</a><span>R87.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>
                    <!-- ======= filter-starters ======= -->
                    <div class="col-lg-6 menu-item filter-starters">
                        <img src="~/temp/assets/img/menu/chicken-boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">chicken Boerewors</a><span>R76.95</span>
                        </div>
                        <div class="menu-ingredients">
                          
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-starters">
                        <img src="~/temp/assets/img/menu/chicken-boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">chicken-boerewors Boerewors</a><span>R76.95</span>
                        </div>
                        <div class="menu-ingredients">
                          
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-starters">
                        <img src="~/temp/assets/img/menu/lamb-boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">lamb-boerewors Boerewors</a><span>R76.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>

                    <!-- ======= filter-salads ======= -->
                    <div class="col-lg-6 menu-item filter-salads">
                        <img src="~/temp/assets/img/menu/blue-cheese-filled.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">blue-cheese-filled</a><span>R58.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-salads">
                        <img src="~/temp/assets/img/menu/mozzarella-cheese-filled boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">mozzarella-cheese-filled boerewors</a><span>R58.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>

                           <div class="col-lg-6 menu-item filter-salads">
                        <img src="~/temp/assets/img/menu/blue-cheese-filled.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">blue-cheese-filled</a><span>R58.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>
                    <div class="col-lg-6 menu-item filter-salads">
                        <img src="~/temp/assets/img/menu/cheddar-cheese-filled.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">cheddar-cheese-filled</a><span>R58.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>
                    <!-- ======= filter-specialty ======= -->
                    <div class="col-lg-6 menu-item filter-specialty">
                        <img src="~/temp/assets/img/menu/game.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">Game Grilled</a><span>R59.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>
                    <div class="col-lg-6 menu-item filter-specialty">
                        <img src="~/temp/assets/img/menu/traditional.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">Traditional Boerewors</a><span>R76.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <img src="~/temp/assets/img/menu/beef-only-boerewors.jpeg" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">Beef-only Boerewors</a><span>R55.95</span>
                        </div>
                        <div class="menu-ingredients">
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Menu Section -->
        <!-- ======= Specials Section ======= -->
        <section id="specials" class="specials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Specials</h2>
                    <p>Check Our Specials</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Traditional Boerewors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Spicy Boerewors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Cheese-filled Boerewors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Garlic Boerewors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Beef-only Boerewors</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>This is the classic version of Boerewors and consists primarily of beef, pork, or a combination of both.</h3>
                                        <p>
                                            The meat is coarsely ground and mixed with spices such as coriander, cloves, nutmeg, black pepper, and salt. The mixture is then stuffed into natural casings, usually made from 
                                            sheep intestines, and formed into long, thick sausages.
                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/temp/assets/img/menu/traditional.jpeg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>This type of Boerewors maintains the distinctive flavor profile but is made exclusively with beef</h3>
                                        <p>While traditional Boerewors often includes a combination of beef and pork, some variations focus solely on beef. </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/temp/assets/img/menu/beef-only-boerewors.jpeg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3> type of Boerewors has a surprise inside—a filling of cheese. Usually, a strip of cheddar</h3>
                                        <p>flavorful cheese is inserted into the center of the sausage before it is sealed. When grilled, the cheese melts and adds an extra layer of richness to the Boerewors.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/temp/assets/img/menu/cheese-filled boerewors.jpeg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3> For those who enjoy a bit of heat, spicy Boerewors</h3>
                                        <p>This variation incorporates additional chili peppers or hot spices into the meat mixture, giving the sausage a kick of spiciness.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/temp/assets/img/menu/spicy.jpeg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>This variation uses game meat instead of traditional beef</h3>
                                        <p>The game meat gives the Boerewors a unique and robust flavor.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/temp/assets/img/menu/game.jpeg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Specials Section -->
        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Reservation</h2>
                    <p>Book a Table</p>
                </div>

                <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Book a Table</button></div>
                </form>

            </div>
        </section><!-- End Book A Table Section -->
        <section id="chefs" class="chefs">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Chefs</h2>
                    <p>Our Proffesional Chefs</p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <img src="~/temp/assets/img/chefs/chef.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Walter White</h4>
                                    <span>Master Chef</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <img src="~/temp/assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Sarah Patricia</h4>
                                    <span>Patissier</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            <img src="~/temp/assets/img/chefs/chef002.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>William Anderson</h4>
                                    <span>Cook</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Chefs Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>
            </div>

            <div data-aos="fade-up">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container" data-aos="fade-up">

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Berdworth park chronos street house no. 5</p>
                            </div>

                            <div class="open-hours">
                                <i class="bi bi-clock"></i>
                                <h4>Open Hours:</h4>
                                <p>
                                    Monday-Saturday:<br>
                                    11:00 AM - 2300 PM
                                </p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Street Braai Boerewors</h3>
                            <p>
                                Vut main res <br><br>
                                <strong>Phone:</strong> 011 367 4567<br>
                                <strong>Email:</strong> chris@vut.ac.za<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
            <div class="copyright">
                &copy; Copyright <strong><span>Street Braai Boerewors</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/temp/assets/vendor/aos/aos.js"></script>
    <script src="~/temp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/temp/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/temp/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/temp/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/temp/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/temp/assets/js/main.js"></script>
</body>

</html>